*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  .flex-container{
    width: 100vw;
    display: flex;
    border: 2px solid;
  }
  
  .flex-child{
    height: 100px;
    width: 500px;
    background-color: rgb(255, 0, 170);
    border: 1px solid;
  }
  
  .child_1{
    
    flex-shrink: 2;
  }
  
  .child_2{
    
    flex-shrink: 3;
  }
  .child_3{
    
    flex-shrink: 4;
  }
  
  .child_4{
    
    flex-shrink: 5;
  }
  